<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>口算题生成程序</title>
    <link rel="stylesheet" href="index.css">
    <script src="vue.min.js"></script>
	<script src="bmob-min.js"></script>
</head>
<body>
<!--[if IE]>
<OBJECT id="WebBrowser" height="0" width="0" classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" VIEWASTEXT style="display:none"></OBJECT>
<![endif]-->
<!--
<input onclick="document.all.WebBrowser.ExecWB(6,1)" type="button" value="打印">
<input onclick="document.all.WebBrowser.ExecWB(6,6)" type="button" value="直接打印">
<input onclick="document.all.WebBrowser.ExecWB(8,1)" type="button" value="页面设置">
<input onclick="document.all.WebBrowser.ExecWB(7,1)" type="button" value="打印预览">
-->
<div id="app" v-cloak>
    <div class="cmdbar noprint">
        <form>
            <fieldset>
                <legend>快捷设置</legend>
                <table>
                    <tbody>
                    <tr>
                        <td>总题数：</td>
                        <td><input type="number" name="count" v-model="count" style="width:5em"/></td>
                    </tr>
                    <tr>
                        <td>每页行数(IE)：</td>
                        <td><input type="number" name="count" v-model="pagerows" style="width:5em"/>
                            共 {{parseInt((res.length + (cols-0) - 1) / (cols-0))}} 行
                            {{parseInt(((parseInt(res.length + (cols-0) - 1) / (cols-0)) + (pagerows - 1)) / (pagerows - 0))}} 页
                        </td>
                    </tr>
                    <tr>
                        <td>尾部补空行：</td>
                        <td><input type="checkbox" v-model="appendemptyrows"/></td>
                    </tr>
                    <tr>
                        <td>列数：</td>
                        <td><input type="number" name="cols" v-model="cols" style="width:5em"/></td>
                    </tr>
                    <tr>
                        <td>间距控制：</td>
                        <td>
                            <input type="number" v-model="cellPadding" style="width:5em"/>空白
                            <input type="number" v-model="cellSpacing" style="width:5em"/>间距
                        </td>
                    </tr>
                    <tr>
                        <td>字体设置：</td>
                        <td><select v-model="fontfamily">
                            <option value="宋体">宋体</option>
                            <option value="楷体">楷体</option>
                            <option value="微软雅黑" selected>微软雅黑</option>
                        </select>
                            <input type="number" v-model="fontsize" style="width:5em"/>像素
                        </td>
                    </tr>
                    <tr>
                        <td>快捷方式：</td>
                        <td><select name="level" disabled>
                            <option value="">暂未实现，敬请期待</option>
                            <option value="20">20 以内整数加减法</option>
                            <option value="100n">100 以内加减法不进/借位</option>
                            <option value="100+1">100 以内进位加法(1 位数)</option>
                            <option value="100+2">100 以内进位加法(2 位数)</option>
                            <option value="100-1">100 以内借位减法(1 位数)</option>
                            <option value="100-2">100 以内借位减法(2 位数)</option>
                            <option value="100+-">100 以内连加连减</option>
                        </select></td>
                    </tr>
                </tbody>
                </table>
            </fieldset>
        </form>
        <form>
            <fieldset>
                <legend>详细设置</legend>
                <table>
                    <tbody>

                    <tr>
                        <td>可用运算符：</td>
                        <td>
							<label style="cursor:pointer;display:inline;color:blue;"><input type="checkbox" v-model="isadd"/>加</label>
							<label style="cursor:pointer;display:inline;color:green;"><input type="checkbox" v-model="issub"/>减</label>
							<label style="cursor:pointer;display:inline;color:purple;"><input type="checkbox" v-model="ismul"/>乘</label>
							<label style="cursor:pointer;display:inline;color:red;"><input type="checkbox" v-model="isdiv" disabled/>除</label>
						</td>
                    </tr>
                    <tr>
                        <td>运算规则：</td>
                        <td><select name="rule" v-model="rule">
                            <option value="1">已知条件，求得数</option>
                            <option value="2">已知得数，求条件</option>
                        </select>
                            <select v-if="'2'==rule" v-model="whichcond">
                                <option value="">随机求条件</option>
                                <template v-for="(rg, i) in range">
                                    <option :value="i">求条件 {{i+1}}</option>
                                </template>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>借/进位设置：</td>
                        <td><select name="borrow" v-model="borrow">
                            <option value="random" selected>随机决定</option>
                            <option value="no">不要借/进位</option>
                            <option value="all">全都带借/进位</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>运算项个数：</td>
                        <td>
                            <input type="number" v-model="itemcount" style="width:5em"/> 个
                        </td>
                    </tr>
                    <tr v-for="(rg, i) in range">
                        <td>数值{{i+1}}范围：</td>
                        <td>
                            <input type="number" style="width:5em" v-model="rg.min"/> -
                            <input type="number" v-model="rg.max" style="width:5em"/>
                        </td>
                    </tr>
                    <tr>
                        <td>得数范围：</td>
                        <td>
                            <input type="number" style="width:5em" v-model="result.min"/> -
                            <input type="number" v-model="result.max" style="width:5em"/>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </fieldset>
        </form>
        <br/>
		<input type="text" v-if="!is_login" placeholder="用户名" v-model="username"/>
		<input type="password" v-if="!is_login" placeholder="密码" v-model="password"/>
		<button @click="login" v-if="!is_login">登录</button>
		<button @click="register" v-if="!is_login">注册</button>
		<span v-if="is_login">您好，{{curr_user().get('username')}}</span>
		<button @click="logout" v-if="is_login">注销</button>
        <button @click="doGen">生成！</button>
        <!--[if IE]>
        <input onclick="document.all.WebBrowser.ExecWB(7,1)" type="button" value="打印预览">
        <![endif]-->
        <button @click="doPrint">打印</button>
		<span>访问量：{{mycounter}}</span>
        <div>
			生成题数：{{res.length}}，其中：加法：{{report.addcnt}}，减法：{{report.subcnt}}，乘法：{{report.mulcnt}}，除法：{{report.divcnt}}，借/进位：{{report.borrowcnt}}，异常：{{report.exceptcnt}}
        </div>
    </div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <thead style="display:table-header-group;">
        <tr>
            <th :colspan="cols">
                <div class="print-repeat" contenteditable="true">
                    <h3>口算（100以内加减法混合运算）</h3>
                    姓名：__________ 日期：____月____日 时间：________ 对题：____道<br/><br/>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr :class="{break_before:p>1}" v-for="p in parseInt(((parseInt(res.length + (cols-0) - 1) / (cols-0)) + (pagerows - 1)) / (pagerows - 0)) ">
            <td style="border: 0px solid;">
                <table :style="{fontFamily:fontfamily, fontSize:fontsize+'px'}" width="100%"  :cellPadding="cellPadding" :cellSpacing="cellSpacing">
                    <tr v-for="r in (appendemptyrows ? (pagerows - 0) : Math.min(pagerows, parseInt((res.length - (p - 1) * (pagerows-0) * (cols-0) + (cols - 1)) / (cols-0))))"
                        :class="{printonly: r > parseInt((res.length - (p - 1) * (pagerows-0) * (cols-0) + (cols - 1)) / (cols-0))}">
                        <td v-for="c in (cols-0)">
                            <template v-if="r > parseInt((res.length - (p - 1) * (pagerows-0) * (cols-0) + (cols - 1)) / (cols-0))">&nbsp;</template>
                            <template v-if="(p-1) * (pagerows-0) * (cols-0) + (r-1) * (cols-0) + (c - 1) < res.length">
                                <span v-for="o in res[ (p-1) * (pagerows-0) * (cols-0) + (r-1) * (cols-0) + (c - 1)].li">{{myfmt(o)}}</span>
                            </template>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
        <tfoot style="display:none;">
        <tr>
            <th :colspan="cols">
                <div class="print-repeat">
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>
<script src="index.js"></script>
</body>
</html>
